body{
  padding-right:40px
}
ul{
  position: fixed;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  width: 99%;

  border-radius: 10px;
  background-color: #cd201F;
  text-align: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size : 25px;
    color: White;
}
li{
  float: right;
  width: 10%;
  font-size: 25px;
  color: White;
  background-color: #cd201F;
  border: 0px solid;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
li a{
  display: block;
  color: white;
  text-align: center;
  
  text-decoration: none;
}
li a:hover {
  background-color: #b31217; 
}
#Title{
  Width: 100%;
  height: 300px;
  padding: 20px;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#Summary{
  Width: 100%;
  height: 400px;
  padding: 20px;
  margin-top: 30px;
  font-size: 20px;
  background-color: #cd201F;
  color: white;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#SummaryTitle{
  font-size: 30px;
}
#name {
  Width: 40%;
  padding: 20px;
 background-color: #cd201F;
 color: #FFFFFF;
  font-size: 30px;
  border-radius: 10px;
  margin: auto;
}
#Report{
  Width: 100%;
  height: 100px;
  padding: 20px;
  margin-top: 30px;
  font-size: 20px;
  background-color: #FFFFFF;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a {
  margin:auto;
  
  width: 30%;
  font-size: 25px;
  color: White;
  background-color: #cd201F;
  border: 0px solid;
  border-radius: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: block;
  color: white;
  text-align: center;
  
  text-decoration: none;
}
 a:hover {
  background-color: #b31217; 
}
#Figures{
  Width: 100%;
  height: 700px;
  padding: 20px;
  margin-top: 30px;
  font-size: 20px;
  background-color: #cd201F;
  color: white;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#FiguresTitle{
  font-size: 30px;
}